
# Get weight loss percentage with user input
ini_wt = float(input("Enter the initial weight of sapota (in grams): "))
fi_wt = float(input("Enter the final weight of sapoa (in grams): "))
print("thank you for entering your values")
# Calculate weight loss using the formula
weight_loss_percentage = ((ini_wt - fi_wt) / ini_wt) * 100
# Display weight loss
print(f"The weight loss percentage of sapota is: {weight_loss_percentage:.2f}%")
print("the wt percentage is :{}.".format(weight_loss_percentage))
